{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"react/jsx-indent-props": [
			1,
			4
		],
		"react/jsx-indent": [
			"error",
			4
		],
		"indent": [
			"error",
			4
		],
		"max-classes-per-file": "off",
		"no-await-in-loop": "off",
		"no-underscore-dangle": "off",
		"no-use-before-define": "off",
		"lines-between-class-members": "off",
		"camelcase": "off",
		"prefer-destructuring": "off",
		"arrow-parens": "off",
		"arrow-body-style": "off",
		"no-console": "off",
		"no-continue": "off",
		"jsx-a11y/href-no-hash": "off",
		"jsx-a11y/anchor-is-valid": [
			"warn",
			{
				"aspects": [
					"invalidHref"
				]
			}
		]
	},
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	}
}
