# OSX
#
.DS_Store

.idea/
.vscode/
node_modules/
package-lock.json
/__tests__/*.dylib
/__tests__/*.node
/coverage/
Jenkinsfile
/reinstall.sh
/uninstall.sh
/.github/workflows/
**/*.a
**/*.so
**/*.dylib
**/*.node
**/*.wasm
**/dist/
**/*.map
**/*.tsbuildinfo
/packages/wasm-module/index.js
/packages/node-addon/publish
/packages/node-addon/lib/build
/packages/react-native-module/ios/publish
/packages/react-native-module/android/lib/NDK
/packages/react-native-module/android/publish
**/Cargo.lock
**/publish/**
**/target/**
**/*.tgz
**/*.java
