# OSX
#
.DS_Store

.idea/
.vscode/
node_modules/
package-lock.json
/__tests__/*.dylib
/__tests__/*.node
/coverage/
Jenkinsfile
/reinstall.sh
/uninstall.sh
/.github/workflows/
**/*.dylib
**/*.node
**/dist/
**/*.tsbuildinfo
/packages/wasm-module/index.js
/packages/wasm-module/tonclient.wasm
/packages/react-native-module/module/ios/target
/packages/react-native-module/module/android/NDK
**/Cargo.lock
