# OSX
#
.DS_Store
**/*.swp
**/*.swo
.idea/
.vscode/
node_modules/
package-lock.json
/__tests__/*.dylib
/__tests__/*.node
/coverage/
Jenkinsfile
/reinstall.sh
/uninstall.sh
**/*.a
**/*.so
**/*.dylib
**/*.node
**/*.wasm
**/dist/
**/*.map
**/*.tsbuildinfo
/packages/lib-web/publish
/packages/lib-web/index.js
/packages/lib-node/publish
/packages/lib-node/lib/build
/packages/lib-react-native/ios/publish
/packages/lib-react-native/android/lib/NDK
/packages/lib-react-native/android/publish
**/Cargo.lock
**/publish/**
**/target/**
**/*.tgz
**/BUCK
